# Install IaC tools

# ============================================================================
# Dependencies
# ============================================================================
- name: "[devops-tools] Ensure gnupg is installed for signature verification"
  become: true
  ansible.builtin.apt:
    name: gnupg
    state: present
    update_cache: no
  when: terragrunt_enabled | bool or terraform_enabled | bool

# ============================================================================
# Terraform, requieres asdf first
# ============================================================================
- name: "[devops-tools] Check if TF plugin is available in asdf vm"
  ansible.builtin.shell: |
    . "$HOME/.asdf/asdf.sh"
    asdf plugin list | grep -q terraform
  args:
    executable: /bin/bash
  register: terraform_plugin_check
  failed_when: false
  changed_when: false
  when:
    - terraform_enabled | bool
    - asdf_enabled | bool

- name: "[devops-tools] Add Terraform plugin with asdf"
  ansible.builtin.shell: |
    . "$HOME/.asdf/asdf.sh"
    asdf plugin add terraform
  args:
    executable: /bin/bash
  when:
    - terraform_enabled | bool
    - asdf_enabled | bool
    - terraform_plugin_check.rc != 0

- name: "[devops-tools] Install Terraform plugin with asdf"
  ansible.builtin.shell: |
    . "$HOME/.asdf/asdf.sh"
    asdf install terraform {{ terraform_version }}
  args:
    executable: /bin/bash
  when:
    - terraform_enabled | bool
    - asdf_enabled | bool
    - terraform_plugin_check.rc != 0

- name: "[devops-tools] Set global version for Terraform plugin with asdf"
  ansible.builtin.shell: |
    . "$HOME/.asdf/asdf.sh"
    asdf global terraform {{ terraform_version }}
  args:
    executable: /bin/bash
  when:
    - terraform_enabled | bool
    - asdf_enabled | bool
    - terraform_plugin_check.rc != 0

# ============================================================================
# Terragrunt, requieres asdf first
# ============================================================================
- name: "[devops-tools] Check if TG plugin is available in asdf vm"
  ansible.builtin.shell: |
    . "$HOME/.asdf/asdf.sh"
    asdf plugin list | grep -q terragrunt
  args:
    executable: /bin/bash
  register: terragrunt_plugin_check
  failed_when: false
  changed_when: false
  when:
    - terragrunt_enabled | bool
    - asdf_enabled | bool

- name: "[devops-tools] Add Terragrunt plugin with asdf"
  ansible.builtin.shell: |
    . "$HOME/.asdf/asdf.sh"
    asdf plugin add terragrunt
  args:
    executable: /bin/bash
  when:
    - terragrunt_enabled | bool
    - asdf_enabled | bool
    - terragrunt_plugin_check.rc != 0

- name: "[devops-tools] Install Terragrunt plugin with asdf"
  ansible.builtin.shell: |
    . "$HOME/.asdf/asdf.sh"
    asdf install terragrunt {{ terragrunt_version }}
  args:
    executable: /bin/bash
  when:
    - terragrunt_enabled | bool
    - asdf_enabled | bool
    - terragrunt_plugin_check.rc != 0

- name: "[devops-tools] Set global version for Terragrunt plugin with asdf"
  ansible.builtin.shell: |
    . "$HOME/.asdf/asdf.sh"
    asdf global terragrunt {{ terragrunt_version }}
  args:
    executable: /bin/bash
  when:
    - terragrunt_enabled | bool
    - asdf_enabled | bool
    - terragrunt_plugin_check.rc != 0
# ============================================================================
# Ansible, requieres asdf first
# ============================================================================
- name: "[devops-tools] Check if ansible plugin is available in asdf vm"
  ansible.builtin.shell: |
    . "$HOME/.asdf/asdf.sh"
    asdf plugin list | grep -q ansible
  args:
    executable: /bin/bash
  register: ansible_plugin_check
  failed_when: false
  changed_when: false
  when:
    - ansible_enabled | bool
    - asdf_enabled | bool

- name: "[devops-tools] Add Ansible plugin with asdf"
  ansible.builtin.shell: |
    . "$HOME/.asdf/asdf.sh"
    asdf plugin add ansible
  args:
    executable: /bin/bash
  when:
    - ansible_enabled | bool
    - asdf_enabled | bool
    - ansible_plugin_check.rc != 0

- name: "[devops-tools] Install Ansible plugin with asdf"
  ansible.builtin.shell: |
    . "$HOME/.asdf/asdf.sh"
    asdf install ansible {{ ansible_version }}
  args:
    executable: /bin/bash
  when:
    - ansible_enabled | bool
    - asdf_enabled | bool
    - ansible_plugin_check.rc != 0

- name: "[devops-tools] Set global version for Ansible plugin with asdf"
  ansible.builtin.shell: |
    . "$HOME/.asdf/asdf.sh"
    asdf global ansible {{ ansible_version }}
  args:
    executable: /bin/bash
  when:
    - ansible_enabled | bool
    - asdf_enabled | bool
    - ansible_plugin_check.rc != 0
