---
# Utilities Role - Orchestrator
# Conditionally includes tool-specific tasks based on feature flags

- name: Include user-specific variables
  include_vars: vars.yml
  tags: utilities

- name: Include bat installation
  include_tasks: bat.yml
  when: utilities_install_bat | bool
  tags: ['utilities', 'bat']

- name: Include eza installation
  include_tasks: eza.yml
  when: utilities_install_eza | bool
  tags: ['utilities', 'eza']

- name: Include fd installation
  include_tasks: fd.yml
  when: utilities_install_fd | bool
  tags: ['utilities', 'fd']

- name: Include ripgrep installation
  include_tasks: ripgrep.yml
  when: utilities_install_ripgrep | bool
  tags: ['utilities', 'ripgrep']

- name: Include dust installation
  include_tasks: dust.yml
  when: utilities_install_dust | bool
  tags: ['utilities', 'dust']

- name: Include fzf installation
  include_tasks: fzf.yml
  when: utilities_install_fzf | bool
  tags: ['utilities', 'fzf']

- name: Include zoxide installation
  include_tasks: zoxide.yml
  when: utilities_install_zoxide | bool
  tags: ['utilities', 'zoxide']

- name: Include tmux installation
  include_tasks: tmux.yml
  when: utilities_install_tmux | bool
  tags: ['utilities', 'tmux']

- name: Include lazygit installation
  include_tasks: lazygit.yml
  when: utilities_install_lazygit | bool
  tags: ['utilities', 'lazygit']

# TODO: expand when: condition to include Ubuntu/Debian when needed
# when: ansible_distribution in ['MXLinux', 'Ubuntu', 'Debian']
- name: Setup QuickTile window manager helper
  include_tasks: quicktile.yml
  when:
    - utilities_install_quicktile | bool
    - ansible_distribution == "MXLinux"
  tags: ['utilities', 'quicktile']
