---
# Install zoxide (smarter cd command)

- name: Check if zoxide is already installed
  ansible.builtin.shell: zoxide --version
  register: zoxide_rc
  failed_when: false
  changed_when: false

- name: Ensure curl is installed (required by zoxide installer)
  become: true
  ansible.builtin.apt:
    name: curl
    state: present
    update_cache: no
  when: zoxide_rc.rc != 0

- name: Download zoxide installer script
  ansible.builtin.get_url:
    url: https://raw.githubusercontent.com/ajeetdsouza/zoxide/main/install.sh
    dest: /tmp/zoxide-install.sh
    mode: '0755'
  become: true
  when: zoxide_rc.rc != 0

- name: Install zoxide
  become: true
  ansible.builtin.command:
    cmd: /tmp/zoxide-install.sh --bin-dir /usr/local/bin --man-dir /usr/local/share/man
    creates: /usr/local/bin/zoxide
  environment:
    SHELL: /bin/bash
  when: zoxide_rc.rc != 0

- name: Cleanup zoxide installer
  ansible.builtin.file:
    path: /tmp/zoxide-install.sh
    state: absent
  become: true
  when: zoxide_rc.rc != 0
